.single-food{
    padding: 60px;
    border: 2px solid black;
    margin: 30px;
    position: relative;
    border-radius: 20px;
}
.single-food img{
    height: 400px;
    width: 350px;
}
.single-food button{
    width: 75%;
    color:white;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-food button p{
    margin-right: 10px;
}
